<%- include('header') -%>
<div class="container">
<h1> <%= title %></h1>
  <div class="col-sm-6 offset-sm-3">
    <h3> total rides: <strong> <%= posts.length %></strong></h3>
    <% for (var i = 0; i < posts.length; i++) { %>
      <div class="card" style="margin-bottom:10px">
          <div class="card-body">
            <strong> <%= posts[i].name %> </strong>
            <p>
              lng: <%= posts[i].lng %>
              <br />
              lat: <%= posts[i].lat %>
            </p>

          </div>

      </div>
    <% } %>
  </div>


</div>
<%- include('footer') -%>
